@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}


@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}


*,
*::after,
*::before {
  box-sizing: border-box;
}


html {
  height: 100%;
}


body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #f2f2f2;
  color: #000000;
  padding: 0 40px;
  width: 1280px;
  margin: 0 auto;
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.navigation-user-button {
  display: block;
  padding: 9px 15px 8px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #756157;
  border-radius: 4px;
  min-width: 160px;
}

.navigation-user-button:hover {
  background-color: #615048;
}

.navigation-user-button:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.navigation-user-button:focus {
  background-color: #615048;
  outline: none;
}

.navigation-user-button:disabled {
  background-color: #e5e5e5;
}

.page-header {
  background-color: #ffffff;
  color: #000000;
}

.navigation {
  display: flex;
  width: 1060px;
  margin: 0 auto;
}

.navigation-logo {
  position: absolute;
}

.page-header-logo {
  display: flex;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 550px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  padding-left: 169px;
}

.navigation-user {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 305px;
  margin: 0;
  padding: 0;
  margin-left: auto;
  list-style-type: none;
}

.navigation-user-item {
  display: flex;
}

.navigation-user-item-button {
  margin-left: 20px;
}

.navigation-link {
  position: relative;
  display: block;
  padding: 20px 17px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: inherit;
  text-decoration: none;
}

.navigation-link:hover {
  background-color: rgba(117, 97, 87, 0.1);
}

.navigation-link:active {
  background-color: rgba(117, 97, 87, 0.2);
}

.navigation-link-current::before {
  content: " ";
  position: absolute;
  bottom: 0;
  left: 17px;
  right: 17px;
  margin-bottom: -1px;
  height: 2px;
  background-color: #756257;
}

.navigation-user-link {
  min-width: 42px;
  min-height: 65px;
}

.navigation-user-link:hover {
  background-color: rgba(117, 97, 87, 0.1);
}


.navigation-user-link:active {
  background-color: rgba(117, 97, 87, 0.2);
}


.navigation-user-link-search {
  background-image: url("../images/search.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 18px 18px;
}


.navigation-user-link-favorite {
  background-image: url("../images/favorite.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 18px 17px;
  position: relative;
}

.navigation-user-link-favorite::after {
  content: "12";
  position: absolute;
  font-size: 10px;
  color: #ffffff;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #7db54f;
  text-align: center;
  top: 15px;
  left: 24px;
}

.main-container {
  flex-grow: 1;
}

.main-hero {
  display: flex;
  justify-content: center;
  background-image: url("../images/index-background-botton.svg"),
    url("../images/index-background.jpg");
  background-repeat: no-repeat, no-repeat;
  background-color: rgba(131, 179, 211, 0.2);
  background-position: 100% calc(100% + 1%), center;
  background-size: 100%, cover;
  padding: 51px 0 82px;
}

.main-index {
  background-color: #ffffff;
  color: #000000;
}

.main-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin: 62px auto 31px;
  max-width: 620px;
}

.main-text {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
  color: #333333;
  margin: 0 auto 90px;
  max-width: 655px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages-item-colums {
  display: flex;
  justify-content: space-between;
}

.advantages-item-blue {
  display: flex;
  flex-direction: column;
  width: 400px;
  padding: 92px 0;
  align-items: center;
  background-color: #82b3d3;
  flex-shrink: 0;
}

.advantages-item-grey {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  padding: 102px 0 102px;
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-light-blue {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  padding: 102px 0 102px;
  background-color: rgba(131, 179, 211, 0.2);
}


.advantages-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  max-width: 230px;
  margin-top: 0;
  margin-bottom: 30px;
}

.advantages-title-black {
  color: #000000;
}

.advantages-number {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
  margin-bottom: 30px;
}

.advantages-number-black {
  color: #000000;
}

.advantages-text {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
  max-width: 230px;
  margin: 0;
}

.advantages-text-black {
  color: #333333;
}

.advantages-img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.advantages-sublist {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages-subitem {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  padding: 80px 0 79px;
}

.advantages-subitem-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin-top: 104px;
  margin-bottom: 30px;
  max-width: 230px;
}

.advantages-subitem-text {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
  color: #333333;
  margin: 0;
  max-width: 230px;
}

.advantages-subitem-house {
  background-color: rgba(131, 179, 211, 0.12);
  background-image: url("../images/house.svg");
  background-repeat: no-repeat;
  background-position: center 80px;
}

.advantages-subitem-food {
  background-color: #ffffff;
  background-image: url("../images/food.svg");
  background-repeat: no-repeat;
  background-position: center 80px;
}

.advantages-subitem-souvenirs {
  background-color: rgba(131, 179, 211, 0.12);
  background-image: url("../images/souvenir.svg");
  background-repeat: no-repeat;
  background-position: center 80px;
}

.search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1200px;
  padding: 91px 0 93px;
}

.search-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin-top: 0;
  margin-bottom: 29px;
  max-width: 297px;
}

.search-text {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
  color: #333333;
  margin-top: 0;
  margin-bottom: 56px;
  max-width: 592px;
}

.button {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #756157;
  border-radius: 4px;
  width: 574px;
  padding: 12px 15px;
}

.button:hover {
  background-color: #615048;
}

.button:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.button:focus {
  background-color: #615048;
  outline: none;
}

.button:disabled {
  background-color: #e5e5e5;
}

.subscription {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1200px;
  padding: 85px 0 93px;
}

.subscription-catalog {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1200px;
  padding: 94px 0 93px;
}

.subscription-image {
  background-color: rgba(131, 179, 211, 0.2);
  color: #000000;
  background-image: url("../images/subscription-image.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.subscription-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
  max-width: 404px;
  margin-top: 0;
  margin-bottom: 29px;
}

.subscription-title-white {
  color: #ffffff;
  max-width: 404px;
}

.subscription-text {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
  color: #000000;
  max-width: 475px;
  margin-top: 0;
  margin-bottom: 46px;
}

.subscription-text-white {
  color: #ffffff;
}

.subscription-form {
  display: flex;
  text-align: center;
  width: 800px;
}

.subscription-input {
  font-family: "PT Sans";
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  background-color: #f2f2f2;
  border: none;
  flex-grow: 1;
  padding: 20px 22px 19px;
  border-radius: 10px 0 0 10px;
}

.subscription-input:hover {
  background-color: #e6e6e6;
}

.subscription-input:not(:placeholder-shown) {
  background-color: #f2f2f2;
  color: #000000;
  outline: none;
}

.subscription-input:disabled,
.subscription-input:disabled:hover {
  color: #595959;
  background-color: #dbb590;
  border-color: #595959;
}

.subscription-button {
  font-family: "PT Sans";
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #82b3d3;
  border: none;
  border-radius: 0 10px 10px 0;
  padding: 12px 15px;
  width: 200px;
}

.subscription-button:hover {
  background-color: #68a2ca;
}

.subscription-button:focus {
  background-color: #68a2ca;
  outline: none;
}

.subscription-button:active {
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
}

.subscription-button:disabled {
  background-color: #e5e5e5;
}

.page-footer {
  background-color: #ffffff;
  color: #000000;
  padding: 42px 70px 30px;
}

.page-footer-container {
  display: flex;
  margin: 0 auto;
  width: 1060px;
}

.footer-social-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding-top: 5px;
  padding-bottom: 5px;
}

.footer-social {
  max-width: 190px;
  margin-right: 41px;
}

.number {
  width: 720px;
}

.number-link {
  color: #000000;
  text-decoration: none;
}

.button-social-link {
  position: relative;
  display: block;
  min-width: 47px;
  min-height: 40px;
  color: #83b3d3;
}

.button-social-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: currentcolor;
}

.button-social-link:hover {
  color: #68a2ca;
}

.button-social-link:focus {
  color: #68a2ca;
  outline: none;
}

.button-social-link:active {
  color: rgba(104, 162, 202, 0.3);
}

.number-link:hover {
  color: #756157;
}

.number-link:focus {
  outline: none;
  color: #756157;
}

.number-link:active {
  color: rgba(117, 97, 87, 0.3);
}

.number .number-link {
  display: block;
  margin: 0 auto;
  padding-top: 3px;
  padding-bottom: 5px;
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  text-transform: uppercase;
}

.logo-academy {
  width: 115px;
  margin-left: auto;
  padding-top: 6px;
  padding-bottom: 8px;
}

.logo-academy-link {
  display: flex;
  color: #000000;
}

.logo-academy-icon {
  fill: currentcolor;
}

.logo-academy-link:hover {
  color: #756157;
}

.logo-academy-link:focus {
  outline: none;
  color: #756157;
}

.logo-academy-link:active {
  color: rgba(117, 97, 87, 0.3);
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
}

.modal-container-close {
  display: none;
}

.modal {
  position: relative;
  margin: auto;
  width: 715px;
  padding: 62px 70px 70px 68px;
  background-color: #ffffff;
  border-radius: 30px;
  box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 0.15);
}


.modal-close-button {
  display: flex;
  position: absolute;
  top: 54px;
  right: 70px;
  color: #000000;
  width: 53px;
  height: 53px;
  background-color: #f2f2f2;
  border-radius: 50px;
  border: none;
  padding: 0;
}

.modal-close-button-icon {
  fill: currentcolor;
  margin: auto;
}

.modal-close-button:hover {
  background-color: #e6e6e6;
}

.modal-close-button:focus {
  background-color: #e6e6e6;
  outline: 3px solid #83b3d3;
}

.modal-close-button:active .modal-close-button-icon {
  background-color: #e6e6e6;
  color: rgba(0, 0, 0, 0.3);
}

.modal-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  margin-bottom: 63px;
}

.auth-container {
  display: grid;
  grid-template-columns: 1fr 420px;
  position: relative;
  margin-bottom: 11px;
}

.auth-field-label {
  align-self: center;
  text-transform: capitalize;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
}

.auth-input {
  font-family: "PT Sans";
  font-size: 18px;
  line-height: 21px;
  padding: 15px 260px 14px 19px;
  border: none;
  background-color: #f2f2f2;
  border-radius: 4px;
}

.auth-input::placeholder {
  font-family: "PT Sans";
  font-size: 18px;
  line-height: 40px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.6);
}



.auth-input:not(:placeholder-shown) {
  background-color: #f2f2f2;
  color: #000000;
  outline: none;
}

.auth-input:hover {
  background-color: #e6e6e6;
}

.auth-input:focus {
  background-color: #e6e6e6;
  outline: 3px solid#83b3d3;
  border-radius: 4px;
}


.auth-input:focus:not(:placeholder-shown) {
  background-color: #ffffff;
  color: #000000;
  outline: 2px solid #000000;
}



.auth-button-calendar {
  display: flex;
  position: absolute;
  top: 18px;
  right: 17px;
  width: 15px;
  height: 15px;
  color: #000000;
  opacity: 30%;
  border: none;
  padding: 0;
}

.auth-button-icon {
  fill: currentcolor;
  margin: auto;
}

.auth-date-text {
  grid-column: 2/3;
  font-size: 16px;
  line-height: 29px;
  margin: 0;
}

.auth-date-text-color {
  color: #ff5757;
}

.auth-amount {
  display: grid;
  grid-template-columns: 288px 230px;
  column-gap: 56px;
  margin-bottom: 40px;
}

.auth-amount-label {
  font-size: 20px;
  line-height: 16px;
  font-weight: 700;
}

.auth-amount-label-first {
  display: grid;
  grid-template-columns: 155px 133px;
  align-items: center;
}

.auth-amount-label-second {
  display: grid;
  grid-template-columns: 54px 43px 133px;
  align-items: center;
}

.tooltip {
  display: flex;
  position: relative;
  width: 25px;
  height: 25px;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 50%;
  background-color: #83b3d3;
  background-image: url("../images/modal/info\ 2.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.tooltip-text {
  position: absolute;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  background-color: #333333;
  border-radius: 10px;
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.3);
  padding: 15px 14px 18px 15px;
  text-align: left;
  width: 256px;
  top: 100%;
  left: 50%;
  margin-left: -128px;
  margin-top: 15px;
  display: none;
}

.tooltip:hover .tooltip-text,
.tooltip:focus .tooltip-text {
  display: block;
}

.tooltip-text::before {
  content: " ";
  background-image: url("../images/modal/arrow-tooltip.svg");
  width: 19px;
  height: 9px;
  position: absolute;
  top: 0;
  left: 119px;
  margin-top: -9px;
}

.tooltip:hover {
  background-color: #68a2ca;
}

.auth-amount-input {
  display: flex;
  width: 133px;
  padding: 15px 57px 14px 57px;
  text-align: center;
  background-color: #f2f2f2;
  border: none;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  border-radius: 4px;
}

.auth-amount-input::-webkit-outer-spin-button,
.auth-amount-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.auth-amount-box {
  position: relative;
  display: flex;
  align-items: center;
}

.auth-left-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  position: absolute;
  width: 25px;
  height: 25px;
  top: 12px;
  left: 13px;
  border: none;
  background-color: transparent;
  color: rgba(0, 0, 0, 0.3);
}


.auth-left-button:hover {
  color: #000000;
}

.auth-left-button:focus {
  border: 3px solid#83b3d3;
  border-radius: 4px;
  outline: none;
}

.input-button-icon {
  fill: currentcolor;
}

.auth-right-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  position: absolute;
  top: 12px;
  right: 13px;
  width: 25px;
  height: 25px;
  border: none;
  background-color: transparent;
  color: rgba(0, 0, 0, 0.3);
}


.auth-right-button:hover {
  color: #000000;
}


.auth-right-button:focus {
  border: 3px solid#83b3d3;
  border-radius: 4px;
  outline: none;
}

.auth-button {
  width: 575px;
  padding: 12px 26px;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  border: none;
  background-color: #83b3d3;
  border-radius: 10px;
  color: #ffffff;
}


.auth-button:hover {
  background-color: #68a2ca;
}


.auth-button:focus {
  background-color: #68a2ca;
  outline: 3px solid #756257;
}


.auth-button:active {
  background-color: #68a2ca;
  color: rgba(255, 255, 255, 0.3);
}

/*Catalog*/

.main-inner {
  background-color: #ffffff;
  color: #000000;
}


.catalog-header {
  background-image: url("../images/catalog-filters.jpg");
  background-repeat: no-repeat;
  background-color: #6688ae;
  background-position: center;
  background-size: cover;
  padding: 35px 70px 70px;
}

.inner-header-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 8px;
  padding: 0;
  position: relative;
}

.breadcrumbs {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-bottom: 41px;
}

.breadcrumbs-item {
  position: relative;
}

.breadcrumbs-item::after {
  position: absolute;
  top: 50%;
  margin-top: -4px;
  right: 10px;
  width: 5px;
  height: 8px;
  background-color: transparent;
  content: " ";
  background-image: url("../images/arrow/arrow-right.svg");
}

.breadcrumbs-item:last-child::after {
  content: none;
}


.breadcrumbs-link-main {
  display: flex;
}

.breadcrumbs-icon {
  fill: currentcolor;
}

.breadcrumbs-link-main:hover {
  color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link-main:focus {
  color: #ffffff;
  outline: none;
}

.breadcrumbs-link-main:active {
  color: rgba(255, 255, 255, 0.3);
}


.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  color: #ffffff;
  text-decoration: none;
  margin-right: 25px;
}

.breadcrumbs-item:last-child .breadcrumbs-link {
  margin-right: 0;
}

.breadcrumbs-link:hover {
  color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link:focus {
  color: rgba(255, 255, 255, 0.6);
  outline: none;
}

.breadcrumbs-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.catalog-form {
  display: grid;
  grid-template-columns: 221px 322px 358px 158px;
}

.catalog-filters-title {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 30px;
}

.catalog-filters-group {
  margin: 0;
  padding: 0;
  border: none;
}

.catalog-filters-group:nth-child(3) {
  margin-right: 0;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.catalog-filter-item {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #ffffff;
  margin-bottom: 15px;
}


.catalog-filter-item:last-child {
  margin-bottom: 0;
}

.control-checkbox {
  position: relative;
  padding-left: 40px;
}

.control-input-checkbox {
  margin: 0;
  padding: 0;
}

.control-mark {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  background-color: #ffffff;
  left: 0;
  top: 0;
}

.control-input-checkbox:checked + .control-mark {
  background-image: url("../images/check-mark.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.control-checkbox:hover .control-mark {
  background-color: rgba(255, 255, 255, 0.6);
}

.control-checkbox:active .control-mark {
  background-color: rgba(255, 255, 255, 0.3);
}

.control-input-checkbox:focus + .control-mark {
  outline: 3px solid #83b3d3;
}

.control-radio {
  position: relative;
  padding-left: 39px;
}

.control-input-radio + .control-mark {
  border-radius: 50%;
}

.control-input-radio:checked + .control-mark::before {
  position: absolute;
  width: 10px;
  height: 10px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background-color: #3f5e72;
  border-radius: 50%;
  content: " ";
}

.control-input-radio:focus + .control-mark {
  outline: 3px solid #83b3d3;
}

.container-button-catalog {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-left: auto;
  max-width: 160px;
}

.range {
  max-width: 288px;
}

.range-wrapper-input {
  display: flex;
}

.catalog-filter-label {
  display: flex;
  align-items: center;
  color: #ffffff;
  width: 144px;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  position: relative;
}

.range-input {
  background-color: transparent;
  color: #ffffff;
  padding: 12px 36px 12px 16px;
  width: 100%;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  border: 2px solid #ffffff;
}

.range-input-right {
  border-radius: 4px 0 0 4px;
}

.range-input-left {
  border-radius: 0 4px 4px 0;
  border-left: none;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.range-input:hover {
  border-color: rgba(255, 255, 255, 0.6);
}

.range-input:focus {
  box-shadow: 0 0 0 4px #81b3d2,
    inset 0 0 0 4px #81b3d2;
  outline: none;
}

.range-input:active {
  background-color: #756257;
}

.catalog-filter-text {
  color: rgba(255, 255, 255, 0.3);
  position: absolute;
  right: 14px;
  top: 14px;
}

.catalog-filter-label:last-child {
  margin-right: 0;
}


.range-scale {
  position: relative;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.3);
  margin-top: 32px;
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #ffffff;
}

.range-toggle {
  position: absolute;
  background-color: #ffffff;
  border-radius: 5px;
  border: none;
  width: 20px;
  height: 20px;
}

.range-toggle:hover {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
  outline: none;
}

.range-toggle:focus {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
  outline: none;
  border: 3px solid #83b3d3;
}


.min-toggle {
  top: -8px;
  left: 0;
}

.max-toggle {
  top: -8px;
  right: -10px;
}


.catalog-button {
  font-family: "PT Sans";
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #82b3d3;
  border: none;
  text-decoration: none;
  border-radius: 4px;
  padding: 14px 15px;
  min-width: 160px;
  margin-bottom: 20px;
}

.catalog-button:hover {
  background-color: #68a2ca;
}

.catalog-button:focus {
  background-color: #68a2ca;
  outline: none;
}

.catalog-button:active {
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
}

.catalog-button:disabled {
  background-color: #e5e5e5;
}

.button-reset {
  font-family: "PT Sans";
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
  border: none;
  background-color: transparent;
  margin: 0;
  padding: 0;
}

.button-reset:hover {
  color: rgba(255, 255, 255, 0.6);
}

.button-reset:focus {
  outline: 3px solid #68a2ca;
  border-radius: 3px;
}

.button-reset:active {
  color: rgba(255, 255, 255, 0.3);
}

.found-hotel {
  display: flex;
  align-items: center;
  width: 1057px;
  margin: 0 auto 56px;
  padding-top: 55px;
}

.found-hotel-title {
  max-width: 350px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
}

.select-control {
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  width: 290px;
  padding: 14px 20px;
  margin-left: auto;
  margin-right: 78px;
  font-size: 16px;
  line-height: 17px;
  color: #333333;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url("../images/arrow/arrow-bottom.svg") no-repeat;
  background-size: 12px 7px;
  background-position: right 20px center;
}

.select-control:hover {
  border: 2px solid #68a2ca;
}

.select-control:focus {
  border: 2px solid #68a2ca;
  outline: none;
}

.select-control:active {
  border: 2px solid #3f5e72;
  outline: none;
}

.select-control:disabled {
  border: 2px solid rgba(0, 0, 0, 0.3);
  color: rgba(0, 0, 0, 0.3);
  outline: none;
}

.sort-buttons-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  max-width: 216px;
  list-style-type: none;
}

.sort-buttons-link {
  display: flex;
  color: #000000;
  text-decoration: none;
  width: 48px;
  height: 48px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
}


.sort-buttons-link-icon-table {
  background-image: url("../images/icons/icon-table.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 16px 14px;
}

.sort-buttons-link-current {
  border: 2px solid #000000;
  border-radius: 4px;
}

.sort-buttons-link:focus {
  border: 2px solid #68a2ca;
  outline: none;
}

.sort-buttons-link:hover {
  border: 2px solid #000000;
}

.sort-buttons-link:active {
  border: 2px solid #000000;
}

.sort-buttons-link-icon-slideshow {
  background-image: url("../images/icons/icon-slideshow.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 16px 14px;
}

.sort-buttons-link-icon-list {
  background-image: url("../images/icons/icon-list.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 16px 14px;
}


.sort-buttons-item:not(:last-child) {
  margin-right: 8px;
}


.cards-hotel {
  width: 1056px;
  margin: 0 auto;
}


.cards-hotel-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  column-gap: 19px;
  margin: 0;
  margin-bottom: 64px;
  padding: 0;
  list-style-type: none;
}

.cards-hotel-item {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.cards-hotel-link {
  text-decoration: none;
}

.cards-hotel-link:hover {
  background-color: rgba(117, 97, 87, 0.1);
}

.cards-hotel-link:active {
  background-color: rgba(117, 97, 87, 0.2);
}

.cards-hotel-image {
  display: block;
  margin-bottom: 15px;
  width: 100%;
  height: 211px;
  object-fit: cover;
}

.container-cards-hotel {
  display: grid;
  grid-template-columns: 140px 140px;
  gap: 17px 19px;
  margin-top: auto;
}

.cards-hotel-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
  margin: 0;
  margin-bottom: 16px;
}

.cards-hotel-hotel {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
}

.cards-hotel-price {

  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
}

.cards-hotel-button-link {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  border-radius: 4px;
  padding: 9px 15px 8px;
}

.cards-hotel-button-link:hover {
  background-color: #615048;
}

.cards-hotel-button-link:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.cards-hotel-button-link:focus {
  background-color: #615048;
  outline: none;
}

.cards-hotel-button-link:disabled {
  background-color: #e5e5e5;
}

.cards-hotel-button {
  font-family: "PT Sans";
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  padding: 9px 10px 8px;
}

.cards-hotel-button-blue {
  background-color: #82b3d3;
}

.cards-hotel-button:hover {
  background-color: #68a2ca;
}

.cards-hotel-button:focus {
  background-color: #68a2ca;
  outline: none;
}

.cards-hotel-button:active {
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
}

.cards-hotel-button:disabled {
  background-color: #e5e5e5;
}

.cards-hotel-button-green {
  background-color: #7db54f;
}

.cards-hotel-button-green:hover {
  background-color: #6c9e42;
}

.cards-hotel-button-green:focus {
  background-color: #6c9e42;
  outline: none;
}

.cards-hotel-button-green:active {
  background-color: #7db54f;
  color: rgba(255, 255, 255, 0.3);
}


.four-stars {
  background-image: url("../images/stars-four.svg");
  background-repeat: no-repeat;
  background-position: 0 50%;
}

.three-stars {
  background-image: url("../images/stars-three.svg");
  background-repeat: no-repeat;
  background-position: 0 50%;
}

.two-stars {
  background-image: url("../images/stars-two.svg");
  background-repeat: no-repeat;
  background-position: 0 50%;
}


.rating {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  background-color: #f2f2f2;
  border-radius: 4px;
  width: 140px;
  margin-left: auto;
  padding: 9px 22px 8px 23px;
}

.pagination-container {
  display: flex;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 25px;
  border-top: 1px solid #e6e6e6;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  margin: 0;
  max-width: 400px;
}

.pagination-link {
  display: flex;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  border: 1px solid #82b3d3;
  border-radius: 4px;
  background-color: #82b3d3;
  color: #ffffff;
  margin-right: 8px;
  min-height: 60px;
  min-width: 60px;
  justify-content: center;
  align-items: center;
}

.pagination-link:hover {
  background-color: #68a2ca;
  border: 1px solid #82b3d3;
}

.pagination-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.pagination-link:focus {
  background-color: #68a2ca;
  border: 3px solid #3f5e72;
  outline: none;
}


.pagination-item:last-child .pagination-link {
  margin-right: 0;
}

.pagination-item .pagination-current {
  background-color: #f2f2f2;
  color: #000000;
  border: none;
}

.amount {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  margin-left: auto;
  margin-right: 51px;
  max-width: 177px;
}

.amount-hotel {
  width: 161px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  padding: 12px 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url("../images/arrow/arrow-bottom.svg") no-repeat;
  background-size: 12px 7px;
  background-position: right 20px center;
}
